{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wondering</title>
	<link rel="icon" type="image/x-icon" href="img/logo.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            transition: background-color 0.5s, color 0.5s;
        }
        .dark-mode body {
            background-color: #333 !important;
            color: #fff !important;
        }
	body {
            background-color: white;
            font-family: 'Poppins';
            background-size: cover;
        }
        #alert{
            position: fixed;
            top: 40%;
        }

    </style>
</head>
<body>
  <a href="#hello">Hello</a>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" id= "alert" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
   {% endif %}

   {% block content %}
   {% endblock %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Wondering</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Our Services</a>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'product_list' %}">Product List</a>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Login
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          {% if user is authenticated %}
                          <li><a class="dropdown-item" href="{% url 'login_user' %}">Log in</a></li>
                          {% else %}
                          <li><a class="dropdown-item " href="{% url 'logout' %}">Log out</a></li>
                          {% endif %}
                          <li><a class="dropdown-item " href="{% url 'sign_up' %}">Sign Up</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-divider" href="{% url 'change_password' %}">Change Password</a></li>
                        </ul>
                      
                            
                    

            </ul>
 </div>
    </div>
</nav>
<br>
<br>
<div class="container mt-5">
        
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          {% for product in products %}
          <div class="carousel-inner">
            <div class="carousel-item active">
              
              <a href="{% url 'product_detail' product_uid=product.uid %}"><img src="{{product.image.url}}" class="d-block w-100" alt="..."></a>
            </div>
          </div>
          {% endfor %}
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div>
        <div class="container mt-4">
          <div class="row">
            <form method="POST">
              {% csrf_token %}
            <select class="form-select" name = 'sort_by' aria-label="Default select example">
              <option selected>Latest</option>
              <option value='price' >price</option>
              <option value='category' >category</option>
            </select>
            <button class="btn btn-primary" role="button">sort_by</button>
            <form>
	    <div class="embed-responsive embed-responsive-21by9">
            {% for product in products %}
            <section style="background-color: #eee;">
                <div class="container py-5">
                  <div class="row justify-content-center mb-3">
                    <div class="col-md-12 col-xl-10">
                      <div class="card shadow-0 border rounded-3">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                              <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                <a href = "{% url 'product_detail' product_uid=product.uid %}">
                                {%if product.image == None%}
                                <img src="" class="w-100" alt="Image not found" /></a>
                                {%else%}
                                <img src="{{product.image.url}}" class="w-100" /></a>
                                {%endif%}
                                 
                                <a href="#!">
                                  <div class="hover-overlay">
                                    <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                                  </div>
                                </a>
                              </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                              <h5>{{product.title}}</h5>
                              <div class="d-flex flex-row">
                                <div class="text-danger mb-1 me-2">
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                  <i class="fa fa-star"></i>
                                </div>
                                <span>{{product.provider.company}}</span>
                              </div>
                              <div class="mt-1 mb-0 text-muted small">
                                <span>Category {{product.category}}</span>
                                <span class="text-primary"> • </span>
                              </div>
                              <p class="text-truncate mb-4 mb-md-0">
                                {{product.description}}
                              </p>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                              <div class="d-flex flex-row align-items-center mb-1">
                                <h4 class="mb-1 me-1">{{product.price}}</h4>
                                <span class="text-danger"><s>10%</s></span>
                              </div>
                              <h6 class="text-success">Free shipping</h6>
                              <div class="d-flex flex-column mt-4">
                                <form method="POST">
                                  <a href="{% url 'product_detail' product_uid=product.uid %}" class="btn btn-primary" role="button">Detail</a>
                                  <a class="buy-now-button" href="{% url 'add_to_cart' product_uid=product.uid %}">Add to Cart</a>
                                </form>
                                  Add to wishlist
                                </button>
                              </div>
                            </div>
                            {{product.created_by}}
                          </div>
                        </div>
                      </div>
                      updated at {{product.updated_at}}
                    </div>
                  </div>
                  {{product.created_at}}
                  
                </div>
              </section>
              {% endfor %}
            </div>
        </div>
    </div>
</div>
<div id="hello"></div>
<footer class="bg-dark text-white text-center p-3 mt-4">
    <p>&copy; 2024 Your Website. All rights reserved.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
